
    <h3 style="margin-top: 40px; background-color: rgb(111, 154, 135); margin-bottom: 30px;"> View Student Details</h3>
    <div style="box-sizing: 4; color: aliceblue;">
        <div>
            <label> <b> First Name :  </b></label> {{employee.firstName}}
        </div>
        <div>
            <label> <b> Last Name :  </b></label> {{employee.lastName}}
        </div>
        <div>
            <label> <b> Father's Name :  </b></label> {{employee.fathername}}
        </div>
        <div>
            <label> <b> Aadhar No :  </b></label> {{employee.aadhar}}
        </div>
        <div>
            <label> <b> Pan No :  </b></label> {{employee.pan}}
        </div>
        <div>
            <label> <b> Date of Birth :  </b></label> {{employee.dob}}
        </div>
        <div>
            <label> <b> Contact No :  </b></label> {{employee.contact}}
        </div>
        <div>
            <label> <b> Gender :  </b></label> {{employee.gender}}
        </div>
        <div>
            <label> <b> Address :  </b></label> {{employee.address}}
        </div>
        
        <div>
            <label> <b> Email Id :  </b></label> {{employee.emailId}}
        </div>
        <div>
            <label> <b> Photo :</b></label> {{employee.contentType}}
        </div>
        
        <div>
            <label> <b> Interns Batch :  </b> 04 </label>
        </div>
        <div>
            <label> <b> Office Address :  </b> MPSeDC - State IT Center Bhopal, Madhya pradesh</label>
        </div>
    </div>
   
    