<!-- <div class="container col-md-6">
    <h1 style="color: red;">User Login</h1>
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="text"class="form-control" id="email" name="email"  [(ngModel)]="employee.emailId" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="employee.password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button><br>
          
          
    </form>
   <router-outlet></router-outlet>
    

  </div> -->

  <div class="container col-md-22">
    <div class="card col-md-4 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Login User </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="userLogin()">

                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="text"class="form-control" id="email" name="email"  [(ngModel)]="employee.emailId" >
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="employee.password">
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Login</button><br>
                      
                      
                      
                </form>
                <h6 style="color: red;">If you don't have an account <a routerLink="/create-employee" routerLinkActive="active">sign up</a></h6>
            </div>
        </div>
    </div>
</div>